APP_PORT=8888

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=simit
POSTGRES_USER=simit
POSTGRES_PASSWORD=changeme

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@simit.local
